<div class="form-panel">
    <h3>Registra Nuovo Cliente</h3>
    <form action="{% url 'inserisci_cliente' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Nome:</label>
            <input type="text" name="nome" required>
        </div>
        <div class="form-group">
            <label>Cognome:</label>
            <input type="text" name="cognome" required>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" required>
        </div>
        <div class="form-group">
            <label>Recapito Telefonico:</label>
            <input type="text" name="recapito_telefonico" required>
        </div>
        <button type="submit" class="btn-primary">Registra Cliente</button>
    </form>
</div>
{% include "partials/_toast_oob.html" %}