<!-- Questo frammento viene iniettato da HTMX -->
<div class="panel">
    <h3>Servizi Spiaggia</h3>
    <div class="grid">
        <button hx-get="{% url 'prenotazione' %}" hx-target="#area-lavoro">Prenotazione</button>
        <button hx-get="{% url 'abbonamento' %}" hx-target="#area-lavoro">Abbonamento</button>
    </div>
    
    <h3>Controlli (Query)</h3>
    <button hx-get="{% url 'stato-ombrelloni' %}" hx-target="#risultati-query">Stato Occupazione</button>
    
    <div id="risultati-query"></div>
    <div id="area-lavoro"></div>
</div>