<div class="form-panel">
    <h3>Inserimento Nuovo Ordine</h3>
    <form action="{% url 'inserisci_ordine' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="partitaiva" placeholder="P.IVA Fornitore" required>
        <input type="date" name="consegna_prevista" required title="Data di consegna prevista">
        
        <fieldset>
            <legend>Dettaglio Prodotto</legend>
            <input type="text" name="codprodotto" placeholder="Codice Prodotto" required>
            <input type="number" name="quantita" placeholder="Quantità" min="1" required>
        </fieldset>
        <button type="submit">Invia Ordine</button>
    </form>
</div>